grep_server_port = 7777
thread_pool_size = 5
key_value_separator = :

node_count = 6


node.1.ip = 192.17.11.12
node.2.ip = 192.17.11.11
node.3.ip = 192.17.11.10
node.4.ip = 192.17.11.9
node.5.ip = 192.17.11.13
node.6.ip = 192.17.11.14


message_loss_rate = -0.1
failure_monitor_port = 7778
gossip_interval = 300
tfail = 1300
tcleanup = 1700
 
kvserver_listen_port = 7779
kvserver_circle_size = 1000000

