grep_server_port = 7777
thread_pool_size = 5
key_value_separator = :

node_count = 2

node.1.ip = 192.168.2.11
node.1.logfilepath = C:\\Users\\Manoj\\Documents\\GitHub\\CS425\\failuremonitor.log

node.2.ip = 192.168.2.10
node.2.logfilepath = C:\Users\Manoj\Documents\GitHub\CS425\failuremonitor.log

 